// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import "~font-awesome/css/font-awesome.css";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
$primary-color: #4458dc;
$primary-color2: #854fee;
$title-color: #000000;
$text-color: #777777;
.header-image {
    width: 100%;
    height: auto;
}

.card-modify-image {
    height: 256px;
    width: 100%;
    object-fit: cover;
}

.blog_details {
    padding-top: 20px;
}

.blog_details h2 {
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    font-weight: 600;
    transition: all 0.3s linear;
}

.blog_details h2:hover {
    color: #4458dc;
}

.blog_details p {
    margin-bottom: 26px;
}
.single-post-area .blog_details {
    padding-top: 26px;
}

.single-post-area .blog_details p {
    margin-bottom: 10px;
}

.blog_details {
    padding-top: 20px;
    h2 {
        font-size: 24px;
        line-height: 36px;
        color: $title-color;
        font-weight: 600;
        transition: all 0.3s linear;
        &:hover {
            color: $primary-color;
        }
    }
    p {
        margin-bottom: 26px;
    }
}



@media (max-width: 575px) {


    .blog_details {
        padding-top: 26px;
        p {
            margin-bottom: 10px;
        }
    }

}
